* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans';
}

body {
  background: #F0F2F5;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.textos {
  width: 100%;
  text-align: center;
  height: 25%; /* Ajustado al 25% del alto de la pantalla en móviles */
}

.textos h2 {
  font-size: 55px;
  color: #1877F2;
}

.textos p {
  color: #1C1E21;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
}

.form {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e8e8e9;
  box-shadow: 0px 8px 32px rgba(153, 153, 153, 0.30);
  background: #fff;
  padding: 20px;
  margin: 10px 0; /* Espaciado inferior ajustado para móviles */
  text-align: center;
  height: 45%; /* Ajustado al 45% del alto de la pantalla en móviles */
}

.form input {
  width: 100%;
  height: 15%; /* Ajustado al 15% del alto de la pantalla en móviles */
  background: #fff;
  padding: 14px 16px;
  font-size: 16px;
  margin-bottom: 5px; /* Espaciado inferior ajustado para móviles */
  border-radius: 8px;
  border: 1px solid #e4e3e3;
}

.form input:focus {
  border-color: #1877f2;
  outline: none;
}

.form .entrar {
  width: 100%;
  height: 15%; /* Ajustado al 15% del alto de la pantalla en móviles */
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  margin-bottom: 5px; /* Espaciado inferior ajustado para móviles */
}

.form a {
  display: inline-block;
  text-decoration: none;
  color: #1877f2;
  font-size: 12px; /* Tamaño de fuente reducido para móviles */
  margin-bottom: 10px; /* Espaciado inferior ajustado para móviles */
}

.form hr {
  margin: 0 20px 0 20px;
  margin-bottom: 10px; /* Espaciado inferior ajustado para móviles */
  border: 0.2px solid #e4e3e3;
}

.form .Nuevac {
  width: 100%;
  height: 12%; /* Ajustado al 12% del alto de la pantalla en móviles */
  font-size: 18px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: #42b72a;
}

.conte-ul {
  width: 100%;
  height: 20%; /* Ajustado al 20% del alto de la pantalla en móviles */
}

.afuera {
  font-size: 10px; /* Tamaño de fuente reducido para móviles */
  text-align: center;
  margin-top: 10px; /* Espaciado superior ajustado para móviles */
}

.afuera span {
  font-size: 10px; /* Tamaño de fuente reducido para móviles */
  font-weight: 700;
}
